# Predicting a customer's next purchase using automated feature engineering

<p style="margin:30px">
    <img width=50% src="https://www.featuretools.com/wp-content/uploads/2017/12/FeatureLabs-Logo-Tangerine-800.png" alt="Featuretools" />
</p>

**As customers use your product, they leave behind a trail of behaviors that indicate how they will act in the future. Through automated feature engineering we can identify the predictive patterns in granular customer behavioral data that can be used to improve the customer's experience and generate additional revenue for your business.**

In this tutorial, we show how [Featuretools](https://github.com/alteryx/featuretools) can be used to perform feature engineering on a multi-table dataset of 3 million online grocery orders provided by Instacart. We will generate a feature matrix that can be used to train a machine learning model to predict what product a customer buys next.

*Note: This notebook requires a dataset from Instacart. You can download the dataset [here](https://www.kaggle.com/c/instacart-market-basket-analysis/data). Once you have downloaded the data, be sure to place the CSV files contained in the archive in a directory called `data`. If you use a different directory name, you will need to update the code below to point to the proper location.*

## Highlights

* We automatically generate features using Deep Feature Synthesis and select the 20 most important features for predictive modeling
* We demonstrate how to generate features in a scalable manner using [Dask](http://dask.pydata.org/en/latest/)
* We automatically generate label times using [Compose](https://github.com/alteryx/compose) which can be reused for numerous prediction problems
* We develop a model for predicting what a customer will buy next, starting with a sample of data and then scaling to the full dataset

## You must have Featuretools version 1.4.0 or greater installed to run this notebook

In [1]:
import warnings
warnings.simplefilter("ignore")

import os
import composeml as cp
import featuretools as ft
import dask.dataframe as dd
import numpy as np
import pandas as pd
import utils
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score

from dask.distributed import Client
ft.__version__

'1.4.0'

## Step 1. Load and preprocess data

First, we will create a Dask distributed client so we can track the progress of our computation on the Dask dashboard that is created when the client is initialized.

In [2]:
client = Client(n_workers=2)
client

Next, we will specify our input and output directories and set the blocksize we will be using to read the raw CSV files into Dask dataframes. When running on a machine with 16GB of memory available for two Dask workers, a `100MB` blocksize has worked well. This number may need to be adjusted based on your specific environment. Refer to the [Dask documentation](https://docs.dask.org/en/latest/best-practices.html) for additional info.

In [3]:
data_dir = os.path.join("data")
output_dir = os.path.join("data", "dask_data")
blocksize = "100MB"

Now we will read our data into Dask dataframes. This operation will complete quite fast as we are not actually bringing the data into memory at this stage.

In [4]:
order_products = dd.concat([dd.read_csv(os.path.join(data_dir, "order_products__prior.csv"), blocksize=blocksize),
                            dd.read_csv(os.path.join(data_dir, "order_products__train.csv"), blocksize=blocksize)])
orders = dd.read_csv(os.path.join(data_dir, "orders.csv"), blocksize=blocksize)
departments = dd.read_csv(os.path.join(data_dir, "departments.csv"), blocksize=blocksize)
products = dd.read_csv(os.path.join(data_dir, "products.csv"), blocksize=blocksize)

In the next few cells, we will perform some required preprocessing to clean up our data. We will merge together some of the raw dataframes and add absolute order time information from the relative times used in the raw data. This will allow us to use cutoff times as part of the Deep Feature Synthesis process.

In [5]:
order_products = order_products.merge(products).merge(departments)

In [6]:
def add_time(df):
    df.reset_index(drop=True)
    df["order_time"] = np.nan
    days_since = df.columns.tolist().index("days_since_prior_order")
    hour_of_day = df.columns.tolist().index("order_hour_of_day")
    order_time = df.columns.tolist().index("order_time")

    df.iloc[0, order_time] = pd.Timestamp('Jan 1, 2015') +  pd.Timedelta(df.iloc[0, hour_of_day], "h")
    for i in range(1, df.shape[0]):
        df.iloc[i, order_time] = df.iloc[i - 1, order_time] \
            + pd.Timedelta(df.iloc[i, days_since], "d") \
                                    + pd.Timedelta(df.iloc[i, hour_of_day], "h")

    to_drop = ["order_number", "order_dow", "order_hour_of_day", "days_since_prior_order", "eval_set"]
    df.drop(to_drop, axis=1, inplace=True)

    return df

In [7]:
orders = orders.groupby("user_id").apply(add_time, meta={
    "order_id": int,
    "user_id": int,
    "order_time": np.datetime64(0, 'ns').dtype})
order_products = order_products.merge(orders[["order_id", "order_time"]])
order_products["order_product_id"] = order_products["order_id"] * 1000 + order_products["add_to_cart_order"]
order_products = order_products.drop(["product_id", "department_id", "add_to_cart_order"], axis=1)

Now that the preprocessing work is complete, we will save the results to disk. This will allow us to start from this point in the process in the future, without having to repeat all of the preprocessing steps. If you have already saved the results to disk previously, you can skip the cell below.

#### Note: The process of saving to CSV is computationally intensive and may take 45 minutes or more, depending on the system you are using. You can use the Dask dashboard to monitor the progress.

In [8]:
# Save preprocessed data to disk
# orders.to_csv(os.path.join(output_dir, "orders-*.csv"), index=False)
# order_products.to_csv(os.path.join(output_dir, "order_products-*.csv"), index=False)

If you have already performed the preprocessing steps and saved the processed files to disk, you can read them in with the commands in the following cell.

In [9]:
# Read preprocessed data from disk
orders = dd.read_csv(os.path.join(output_dir, "orders-*.csv"), blocksize=blocksize)
order_products = dd.read_csv(os.path.join(output_dir, "order_products-*.csv"), blocksize=blocksize)

In [10]:
orders.head()

   order_id  user_id           order_time
0   2539329        1  2015-01-01 08:00:00
1   2398795        1  2015-01-16 15:00:00
2    473747        1  2015-02-07 03:00:00
3   2254736        1  2015-03-08 10:00:00
4    431534        1  2015-04-06 01:00:00

In [11]:
order_products.head()

,order_id,reordered,product_name,aisle_id,department,order_time,order_product_id
0,800,1,Organic Egg Whites,86,dairy eggs,2015-01-11 10:00:00,800003
1,800,0,Grilled Chicken Breast Strips,49,meat seafood,2015-01-11 10:00:00,800004
2,800,0,Nux Vomica 6C Homeopathic Pellets,47,personal care,2015-01-11 10:00:00,800005
3,800,0,"Kava Kava Root, Liquid Herbal Extract",47,personal care,2015-01-11 10:00:00,800006
4,800,0,Sedalia Homeopathic Medicine Stress Relief Qui...,47,personal care,2015-01-11 10:00:00,800011

## Step 2: Create a Featuretools entityset

When using Dask dataframes to create an entityset, type inference can be computationally intensive compared to entitysets created from pandas dataframes because of needing to pull the distributed data into memory. As a best practice, users should specify the Woodwork logical types for all of the columns in the dataframes that make up the entityset when using Dask. In the following cell we define the data types for the `order_products` and `orders` dataframes.

In [12]:
order_products_types = {
    "order_id": "Categorical",
    "reordered": "BooleanNullable",
    "product_name": "Categorical",
    "aisle_id": "Categorical",
    "department": "Categorical",
    "order_time": "Datetime",
    "order_product_id": "Integer",
}

order_types = {
    "order_id": "Integer",
    "user_id": "Integer",
    "order_time": "Datetime",
}

Now that we have defined the data types, we can create the entityset and establish the relationship between the two dataframes. For our initial run we will use a sample of the full data to determine what features are the best predictors. Once we have the feature importances established we will rerun on the full dataset using only the most important features.

First we will sample our data - grabbing the orders for 1000 different customers. Because we cannot pass a Dask series to `.isin()` we must call `.compute()` on the ids to convert this into a pandas series.

In [13]:
orders_sample = orders[orders['user_id'].isin(range(1001,2001))]

Next we will get the order products associated with the orders we sampled.

In [14]:
order_products_sample = order_products[order_products['order_id'].isin(orders_sample['order_id'].compute())]

Now that we have sampled our data, we can create an entityset from these sampled dataframes.

In [15]:
es = ft.EntitySet("instacart_sample")
es.add_dataframe(dataframe_name="order_products",
                 dataframe=order_products_sample,
                 index="order_product_id",
                 logical_types=order_products_types,
                 time_index="order_time")

es.add_dataframe(dataframe_name="orders",
                 dataframe=orders_sample,
                 index="order_id",
                 logical_types=order_types,
                 time_index="order_time")

es.add_relationship("orders", "order_id", "order_products", "order_id")

Entityset: instacart_sample
  DataFrames:
    order_products [Rows: Delayed('int-45548309-29ce-49d0-9e2b-17872e86dc68'), Columns: 7]
    orders [Rows: Delayed('int-e0bff2a5-4009-4b22-b953-071bc05bbf2e'), Columns: 3]
  Relationships:
    order_products.order_id -> orders.order_id

Next, we will normalize the `orders` dataframe to create a new `users` dataframe that we will later use as the target dataframe during the deep feature synthesis process.

In [16]:
es.normalize_dataframe(base_dataframe_name="orders", new_dataframe_name="users", index="user_id")
es.plot()

To finish up creation of the entityset we will add last time indexes and set some interesting values.

In [17]:
es.add_last_time_indexes()

In [18]:
es.add_interesting_values(dataframe_name="order_products",
                          values={
                              "department": ['produce', 'dairy eggs', 'snacks', 'beverages', 'frozen', 'pantry', 'bakery', 'canned goods', 'deli', 'dry goods pasta'],
                              "product_name": ['Banana', 'Bag of Organic Bananas', 'Organic Baby Spinach', 'Organic Strawberries', 'Organic Hass Avocado', 'Organic Avocado', 'Large Lemon', 'Limes', 'Strawberries', 'Organic Whole Milk']
                          })

## Step 3. Use Compose to generate our cutoff times dataframe

In the cells that follow we will demonstrate how [Compose](https://github.com/FeatureLabs/compose) can be used to generate the label times dataframe that will be used as cutoff times for deep feature synthesis.

First we define a labeling function to add a label if a user has bought a specific product or not, and then we will create our `LabelMaker` using this function.

In [19]:
def bought_product(df, product_name):
    purchased = df.product_name.str.contains(product_name).any()
    return purchased

In [20]:
# Need to convert the `user_id` column type due to an issue in compose
es['users'].ww.set_types(logical_types={'user_id': 'Integer'})

In [21]:
lm = cp.LabelMaker(
    target_dataframe_name='user_id',
    time_index='order_time',
    labeling_function=bought_product,
    window_size='4w',
)

In [22]:
def denormalize(es):
    df = es['order_products'].merge(es['orders']).merge(es['users'])
    return df

Compose does not currently work on Dask dataframes, so we must first run `.compute()` on the denormalized entityset to switch to pandas.

In [23]:
df = denormalize(es).compute()

Now we can create our labels, indicating whether or not a user has purchased Bananas.

In [24]:
label_times = lm.search(
    df.sort_values('order_time'),
    minimum_data='2015-03-15',
    num_examples_per_instance=2,
    product_name='Banana',
    verbose=True,
)

Elapsed: 00:07 | Remaining: 00:00 | Progress: 100%|███████████████████████████████████████████████████████████████| user_id: 1266/1266

In [25]:
label_times.head()

   user_id       time  bought_product
0     1002 2015-09-27           False
1     1003 2015-03-15           False
2     1006 2015-04-12           False
3     1007 2015-03-15           False
4     1008 2015-03-15            True

We can see above the our training examples contain three pieces of information: a user id, the last time we can use data before feature engineering (called the "cutoff time"), and the label to predict. These are called our "label times".

We can use `describe` to print out the distribution with the settings and transforms that were used to make these labels. This is useful as a reference for understanding how the labels were generated from raw data. Also, the label distribution is helpful for determining if we have imbalanced labels.

In [26]:
label_times.describe()

Label Distribution
------------------
False     376
True      157
Total:    533


Settings
--------
gap                                    None
maximum_data                           None
minimum_data                     2015-03-15
num_examples_per_instance                 2
target_column                bought_product
target_dataframe_name               user_id
target_type                        discrete
window_size                              4w


Transforms
----------
No transforms applied

## Step 4. Run Deep Feature Synthesis

With our label times created, we are ready to run deep feature synthesis to generate our feature matrix. This will execute quickly and the resulting feature matrix will be returned as a Dask dataframe. This process does not cause the feature matrix to be computed or brought into memory.

When we use DFS, we specify
- `target_dataframe_name` - the table to build features for - `users` in this case
- `cutoff_time` - the point in time to calculate the features

A good way to think of the `cutoff_time` is that it let's us "pretend" we are at an earlier point in time when generating our features so we can simulate making predictions. We get this time for each customer from the label times we generated above.

For this initial run we will not specify any primitives, which will result in all the default primitives being used to create features.

In [27]:
feature_matrix, features = ft.dfs(target_dataframe_name="users",
                                  cutoff_time=label_times,
                                  entityset=es,
                                  verbose=True)

Built 58 features
Elapsed: 00:36 | Progress: 100%|███████████████████████████████████████████████████████████████████████████████████████████████████████

Next, let's compute the feature matrix and take a look at what we created.

In [28]:
fm = feature_matrix.ww.compute()
fm.head()

,COUNT(orders),COUNT(order_products),NUM_UNIQUE(order_products.aisle_id),NUM_UNIQUE(order_products.department),NUM_UNIQUE(order_products.product_name),PERCENT_TRUE(order_products.reordered),DAY(first_orders_time),MONTH(first_orders_time),WEEKDAY(first_orders_time),YEAR(first_orders_time),...,COUNT(order_products WHERE department = frozen),COUNT(order_products WHERE product_name = Bag of Organic Bananas),COUNT(order_products WHERE department = canned goods),COUNT(order_products WHERE department = produce),COUNT(order_products WHERE department = deli),COUNT(order_products WHERE product_name = Large Lemon),COUNT(order_products WHERE product_name = Organic Whole Milk),COUNT(order_products WHERE department = dry goods pasta),user_id,bought_product
0,8,58,21,9,34,0.413793,1,1,3,2015,...,0,2,0,17,1,0,0,6,1007,False
1,4,42,22,7,40,0.047619,1,1,3,2015,...,6,0,0,13,0,1,0,0,1008,True
2,3,10,8,5,9,0.100000,1,1,3,2015,...,2,0,0,1,0,0,0,0,1030,False
3,7,101,36,15,58,0.425743,1,1,3,2015,...,9,0,3,2,4,0,0,10,1040,False
4,4,16,12,9,13,0.187500,1,1,3,2015,...,1,0,0,1,1,0,0,0,1053,True

Before we use this feature matrix to build a predictive model, we will first encode any categorical features using `ft.encode_features()`. Note, at this time `ft.encode_features()` does not work with a Dask feature matrix, so we will use the pandas version we computed above.

Also note that `encode_features` expects a feature matrix with Woodwork initialized as the first input. To retain Woodwork typing information we called compute through the `.ww` Woodwork accessor above rather than calling it directly on the feature matrix dataframe.

In [29]:
fm_encoded, features_encoded = ft.encode_features(fm,
                                                  features)

print("Number of features %s" % len(features_encoded))
fm_encoded.head()

Number of features 62

,COUNT(orders),COUNT(order_products),NUM_UNIQUE(order_products.aisle_id),NUM_UNIQUE(order_products.department),NUM_UNIQUE(order_products.product_name),PERCENT_TRUE(order_products.reordered),MAX(orders.COUNT(order_products)),MAX(orders.NUM_UNIQUE(order_products.aisle_id)),MAX(orders.NUM_UNIQUE(order_products.department)),MAX(orders.NUM_UNIQUE(order_products.product_name)),...,user_id,bought_product,DAY(first_orders_time) = 1,DAY(first_orders_time) is unknown,MONTH(first_orders_time) = 1,MONTH(first_orders_time) is unknown,WEEKDAY(first_orders_time) = 3,WEEKDAY(first_orders_time) is unknown,YEAR(first_orders_time) = 2015,YEAR(first_orders_time) is unknown
0,8,58,21,9,34,0.413793,20.0,15.0,8.0,20.0,...,1007,False,True,False,True,False,True,False,True,False
1,4,42,22,7,40,0.047619,23.0,15.0,6.0,23.0,...,1008,True,True,False,True,False,True,False,True,False
2,3,10,8,5,9,0.100000,4.0,4.0,3.0,4.0,...,1030,False,True,False,True,False,True,False,True,False
3,7,101,36,15,58,0.425743,28.0,24.0,11.0,28.0,...,1040,False,True,False,True,False,True,False,True,False
4,4,16,12,9,13,0.187500,6.0,6.0,4.0,6.0,...,1053,True,True,False,True,False,True,False,True,False

## Step 5. Machine Learning

Using the default parameters, we generated dozens of potential features for our prediction problem. With a few simple commands, this feature matrix can be used for machine learning

In [30]:
X = fm_encoded.drop(["user_id"], axis=1)
X = X.fillna(0)
y = X.pop("bought_product").astype('bool')

In [31]:
X.head()

,COUNT(orders),COUNT(order_products),NUM_UNIQUE(order_products.aisle_id),NUM_UNIQUE(order_products.department),NUM_UNIQUE(order_products.product_name),PERCENT_TRUE(order_products.reordered),MAX(orders.COUNT(order_products)),MAX(orders.NUM_UNIQUE(order_products.aisle_id)),MAX(orders.NUM_UNIQUE(order_products.department)),MAX(orders.NUM_UNIQUE(order_products.product_name)),...,COUNT(order_products WHERE product_name = Organic Whole Milk),COUNT(order_products WHERE department = dry goods pasta),DAY(first_orders_time) = 1,DAY(first_orders_time) is unknown,MONTH(first_orders_time) = 1,MONTH(first_orders_time) is unknown,WEEKDAY(first_orders_time) = 3,WEEKDAY(first_orders_time) is unknown,YEAR(first_orders_time) = 2015,YEAR(first_orders_time) is unknown
0,8,58,21,9,34,0.413793,20.0,15.0,8.0,20.0,...,0,6,True,False,True,False,True,False,True,False
1,4,42,22,7,40,0.047619,23.0,15.0,6.0,23.0,...,0,0,True,False,True,False,True,False,True,False
2,3,10,8,5,9,0.100000,4.0,4.0,3.0,4.0,...,0,0,True,False,True,False,True,False,True,False
3,7,101,36,15,58,0.425743,28.0,24.0,11.0,28.0,...,0,10,True,False,True,False,True,False,True,False
4,4,16,12,9,13,0.187500,6.0,6.0,4.0,6.0,...,0,0,True,False,True,False,True,False,True,False

In [32]:
y.head()

0    False
1     True
2    False
3    False
4     True
Name: bought_product, dtype: bool

Let's train a Random Forest and validate using 3-fold cross validation

In [33]:
clf = RandomForestClassifier(n_estimators=400, n_jobs=-1)
scores = cross_val_score(estimator=clf,X=X, y=y, cv=3,
                         scoring="roc_auc", verbose=True)

"AUC %.2f +/- %.2f" % (scores.mean(), scores.std())

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:    4.0s finished

'AUC 0.78 +/- 0.01'

As you can see this model predicts the next purchase better than guessing. 

Next we will identify the top 20 features so we can use them to later perform machine learning on the whole dataset.

In [34]:
clf.fit(X, y)
top_features = utils.feature_importances(clf, features_encoded, n=20)

1: Feature: COUNT(order_products WHERE product_name = Organic Hass Avocado), 0.066
2: Feature: COUNT(order_products WHERE department = snacks), 0.054
3: Feature: MAX(orders.COUNT(order_products)), 0.043
4: Feature: WEEKDAY(first_orders_time) is unknown, 0.041
5: Feature: COUNT(order_products WHERE department = pantry), 0.037
6: Feature: YEAR(first_orders_time) = 2015, 0.030
7: Feature: MIN(orders.PERCENT_TRUE(order_products.reordered)), 0.027
8: Feature: COUNT(order_products WHERE department = bakery), 0.027
9: Feature: MIN(orders.NUM_UNIQUE(order_products.aisle_id)), 0.025
10: Feature: SUM(orders.NUM_UNIQUE(order_products.product_name)), 0.024
11: Feature: PERCENT_TRUE(order_products.reordered), 0.024
12: Feature: YEAR(first_orders_time) is unknown, 0.024
13: Feature: DAY(first_orders_time) = 1, 0.023
14: Feature: MONTH(first_orders_time) is unknown, 0.023
15: Feature: NUM_UNIQUE(orders.DAY(order_time)), 0.022
16: Feature: MIN(orders.NUM_UNIQUE(order_products.product_name)), 0.022
17: Feature: MIN(orders.NUM_UNIQUE(order_products.department)), 0.021
18: Feature: NUM_UNIQUE(order_products.product_name), 0.021
19: Feature: STD(orders.COUNT(order_products)), 0.021
20: Feature: COUNT(order_products), 0.020

To persist these features, we can save them to disk.

In [35]:
ft.save_features(top_features, os.path.join(data_dir, "top_features.txt"))

### Auto Modeling
Instead of just training a Random Forest, we can use [EvalML](https://evalml.alteryx.com/en/stable/) from Alteryx to build multiple models, compare them, and identify the best one

<p align="center">
<img width=50% src="https://evalml-web-images.s3.amazonaws.com/evalml_horizontal.svg" alt="Featuretools" />
</p>

In [36]:
import evalml
from evalml import AutoMLSearch

In [37]:
automl = AutoMLSearch(X, y, problem_type="binary", objective="auc")
automl.search()

With EvalML, we are able to get an AUC of .82. We can view the main features below.

In [38]:
pipeline = automl.best_pipeline
pipeline.fit(X, y)

pipeline.feature_importance[0:10]

                                             feature  importance
0             NUM_UNIQUE(orders.WEEKDAY(order_time))    0.072730
1                 MEAN(orders.COUNT(order_products))    0.059999
2  COUNT(order_products WHERE product_name = Bag ...    0.056083
3  COUNT(order_products WHERE product_name = Banana)    0.053959
4  COUNT(order_products WHERE department = bevera...    0.032120
5   COUNT(order_products WHERE product_name = Limes)    0.028700
6              NUM_UNIQUE(order_products.department)    0.026770
7  MAX(orders.PERCENT_TRUE(order_products.reorder...    0.025788
8                  MAX(orders.COUNT(order_products))    0.025641
9  SUM(orders.PERCENT_TRUE(order_products.reorder...    0.024423

### Understanding feature engineering in Featuretools

Before moving forward, take a look at the features we created. You will see that they are more than just simple transformations of columns in our raw data. Instead, they perform aggregations (and sometimes stacking of aggregations) across the relationships in our dataset. If you're curious how this works, learn about the Deep Feature Synthesis algorithm in our documentation [here](https://featuretools.alteryx.com/en/stable/).

DFS is so powerful because with no manual work, the library figured out that historical purchases of bananas are important for predicting future purchases. Additionally, it surfaces that purchasing dairy or eggs and reordering behavior are important features.

Even though these features are intuitive, Deep Feature Synthesis will automatically adapt as we change the prediction problem, saving us the time of manually brainstorming and implementing these data transformation.

## Step 6. Scale to Full Dataset

Now that we have established the most important features, we will repeat the process of creating a feature matrix, using only these features, and then make predictions using our full dataset.

To start, we will create a new entityset containing our full dataset.

In [39]:
es = ft.EntitySet("instacart_full")
es.add_dataframe(dataframe_name="order_products",
                 dataframe=order_products,
                 index="order_product_id",
                 logical_types=order_products_types,
                 time_index="order_time")

es.add_dataframe(dataframe_name="orders",
                 dataframe=orders,
                 index="order_id",
                 logical_types=order_types,
                 time_index="order_time")

es.add_relationship("orders", "order_id", "order_products", "order_id")

Entityset: instacart_full
  DataFrames:
    order_products [Rows: Delayed('int-94bedfb4-bc39-4e2d-a056-9e3171aab907'), Columns: 7]
    orders [Rows: Delayed('int-9280aeb9-e44f-4380-b32a-1c135cd9140b'), Columns: 3]
  Relationships:
    order_products.order_id -> orders.order_id

In [40]:
es.normalize_dataframe(base_dataframe_name="orders", new_dataframe_name="users", index="user_id")

Entityset: instacart_full
  DataFrames:
    order_products [Rows: Delayed('int-9c22cb15-ceb7-4072-96c6-c14bd3e1c0f9'), Columns: 7]
    orders [Rows: Delayed('int-cfcf2f86-e9b0-44ff-b883-ef3d619729d8'), Columns: 3]
    users [Rows: Delayed('int-321216b7-d713-4aed-aecd-d24cab4458bc'), Columns: 2]
  Relationships:
    order_products.order_id -> orders.order_id
    orders.user_id -> users.user_id

In [41]:
es.add_last_time_indexes()
es["order_products"]["department"].interesting_values = ['produce', 'dairy eggs', 'snacks', 'beverages', 'frozen', 'pantry', 'bakery', 'canned goods', 'deli', 'dry goods pasta']
es["order_products"]["product_name"].interesting_values = ['Banana', 'Bag of Organic Bananas', 'Organic Baby Spinach', 'Organic Strawberries', 'Organic Hass Avocado', 'Organic Avocado', 'Large Lemon', 'Limes', 'Strawberries', 'Organic Whole Milk']

We will use our previously defined Compose label maker to create cutoff times for the full dataset.

In [42]:
df = denormalize(es).compute()

In [43]:
label_times = lm.search(
    df.sort_values('order_time'),
    minimum_data='2015-03-15',
    num_examples_per_instance=2,
    product_name='Banana',
    verbose=True,
)

Elapsed: 55:30 | Remaining: 00:00 | Progress: 100%|███████████████████████████████████████████████████████████| user_id: 262420/262420

In [44]:
label_times.head()

   user_id       time  bought_product
0        1 2015-07-05           False
1        2 2015-08-02            True
2        7 2015-08-02           False
3       10 2015-04-12           False
4       13 2015-03-15           False

Next we will read in the top 20 features we identified previously and calculate a feature matrix using only these features.

In [45]:
top_features= ft.load_features(os.path.join(data_dir, "top_features.txt"))
top_features

[<Feature: COUNT(order_products WHERE product_name = Organic Hass Avocado)>,
 <Feature: COUNT(order_products WHERE department = snacks)>,
 <Feature: MAX(orders.COUNT(order_products))>,
 <Feature: WEEKDAY(first_orders_time) is unknown>,
 <Feature: COUNT(order_products WHERE department = pantry)>,
 <Feature: YEAR(first_orders_time) = 2015>,
 <Feature: MIN(orders.PERCENT_TRUE(order_products.reordered))>,
 <Feature: COUNT(order_products WHERE department = bakery)>,
 <Feature: MIN(orders.NUM_UNIQUE(order_products.aisle_id))>,
 <Feature: SUM(orders.NUM_UNIQUE(order_products.product_name))>,
 <Feature: PERCENT_TRUE(order_products.reordered)>,
 <Feature: YEAR(first_orders_time) is unknown>,
 <Feature: DAY(first_orders_time) = 1>,
 <Feature: MONTH(first_orders_time) is unknown>,
 <Feature: NUM_UNIQUE(orders.DAY(order_time))>,
 <Feature: MIN(orders.NUM_UNIQUE(order_products.product_name))>,
 <Feature: MIN(orders.NUM_UNIQUE(order_products.department))>,
 <Feature: NUM_UNIQUE(order_products.product_name)>,
 <Feature: STD(orders.COUNT(order_products))>,
 <Feature: COUNT(order_products)>]

Having read in the top features we want to use, we can now create our feature matrix on the full dataset with a call to `ft.calculate_feature_matrix()`.

In [46]:
fm = ft.calculate_feature_matrix(top_features, entityset=es, cutoff_time=label_times, verbose=True)

Elapsed: 00:14 | Progress: 100%|███████████████████████████████████████████████████████████████████████████████████████████████████████

Next, we will compute our feature matrix to bring the results into memory, allowing us to encode categorical features and make our predictions.

In [47]:
fm = fm.ww.compute()

In [48]:
fm_encoded, features_encoded = ft.encode_features(fm, top_features)

print("Number of features %s" % len(features_encoded))
fm_encoded.head()

Number of features 20

,COUNT(order_products WHERE product_name = Organic Hass Avocado),COUNT(order_products WHERE department = snacks),MAX(orders.COUNT(order_products)),WEEKDAY(first_orders_time) is unknown,COUNT(order_products WHERE department = pantry),YEAR(first_orders_time) = 2015,MIN(orders.PERCENT_TRUE(order_products.reordered)),COUNT(order_products WHERE department = bakery),MIN(orders.NUM_UNIQUE(order_products.aisle_id)),SUM(orders.NUM_UNIQUE(order_products.product_name)),...,DAY(first_orders_time) = 1,MONTH(first_orders_time) is unknown,NUM_UNIQUE(orders.DAY(order_time)),MIN(orders.NUM_UNIQUE(order_products.product_name)),MIN(orders.NUM_UNIQUE(order_products.department)),NUM_UNIQUE(order_products.product_name),STD(orders.COUNT(order_products)),COUNT(order_products),user_id,bought_product
0,0,2,10.0,False,2,True,0.0,12,4.0,56.0,...,True,False,6,4.0,2.0,23,2.048034,56,13,False
1,0,0,12.0,False,3,True,0.0,3,6.0,40.0,...,True,False,4,9.0,6.0,36,1.414214,40,23,False
2,0,2,15.0,False,3,True,0.0,1,8.0,37.0,...,True,False,3,9.0,7.0,30,3.055050,37,44,False
3,0,1,17.0,False,5,True,0.0,0,3.0,48.0,...,True,False,5,4.0,2.0,42,5.594640,48,74,False
4,0,0,18.0,False,1,True,0.0,3,1.0,30.0,...,True,False,4,1.0,1.0,27,7.106335,30,78,False

In [49]:
X = fm_encoded.drop(["user_id"], axis=1)
X = X.fillna(0)
y = X.pop("bought_product").astype('bool')

In [50]:
clf = RandomForestClassifier(n_estimators=400, n_jobs=-1)
scores = cross_val_score(estimator=clf,X=X, y=y, cv=3,
                         scoring="roc_auc", verbose=True)

"AUC %.2f +/- %.2f" % (scores.mean(), scores.std())

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:   25.0s finished

'AUC 0.67 +/- 0.02'

In [51]:
clf.fit(X, y)
top_features = utils.feature_importances(clf, top_features, n=20)

1: Feature: STD(orders.COUNT(order_products)), 0.120
2: Feature: PERCENT_TRUE(order_products.reordered), 0.113
3: Feature: NUM_UNIQUE(order_products.product_name), 0.092
4: Feature: COUNT(order_products), 0.092
5: Feature: SUM(orders.NUM_UNIQUE(order_products.product_name)), 0.090
6: Feature: COUNT(order_products WHERE department = snacks), 0.081
7: Feature: MAX(orders.COUNT(order_products)), 0.080
8: Feature: COUNT(order_products WHERE department = pantry), 0.073
9: Feature: COUNT(order_products WHERE department = bakery), 0.064
10: Feature: NUM_UNIQUE(orders.DAY(order_time)), 0.061
11: Feature: MIN(orders.NUM_UNIQUE(order_products.product_name)), 0.044
12: Feature: MIN(orders.NUM_UNIQUE(order_products.aisle_id)), 0.034
13: Feature: COUNT(order_products WHERE product_name = Organic Hass Avocado), 0.030
14: Feature: MIN(orders.NUM_UNIQUE(order_products.department)), 0.027
15: Feature: WEEKDAY(first_orders_time) is unknown, 0.000
16: Feature: YEAR(first_orders_time) = 2015, 0.000
17: Feature: MIN(orders.PERCENT_TRUE(order_products.reordered)), 0.000
18: Feature: YEAR(first_orders_time) is unknown, 0.000
19: Feature: DAY(first_orders_time) = 1, 0.000
20: Feature: MONTH(first_orders_time) is unknown, 0.000

Now that we have finished, we can close our Dask client.

In [53]:
client.close()

## Next Steps

While this is an end-to-end example of going from raw data to a trained machine learning model, it is necessary to do further exploration before claiming we've built something impactful.

Fortunately, Featuretools makes it easy to build structured data science pipeline. As a next steps, you could

- Further validate these results by creating feature vectors at different cutoff times
- Perform feature selection on a larger subset of the original data to improve results
- Define other prediction problems for this dataset (you can even change the dataframe you are making predictions on!)
- Save feature matrices to disk as CSVs so they can be reused with different problems without recalculating
- Experiment with parameters to Deep Feature Synthesis

## Built at Alteryx Innovation Labs

<p>
<a href="https://www.alteryx.com/innovation-labs">
    <img width="75%" src="https://evalml-web-images.s3.amazonaws.com/alteryx_innovation_labs.png" alt="Alteryx Innovation Labs" />
</a>
</p>